body {
  margin: 0;
  padding: 0;
}

.missionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
}

.missionStatement {
  padding: 20px;
  text-align: center;
  font-size: 55px;
  font-weight: semi-bold;
}
